* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

body {
  color: white;
  background-color: rgb(16, 16, 16);
}

/* header */

header {
  background-image: url('../assets/image-header.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
}

/* nav bar */

header nav {
  display: inline-block;
  width: 100%;
  padding: 50px 75px;
}

nav a img {
  padding: 20px 15px;
}

nav a, nav ul li {
  display: inline-block;
}
 nav ul {
  float: right;
  text-align: end;
 }

nav ul li a {
  font-family: 'Poppins', Arial;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  padding: 20px 15px;
  color: white;
}

/* hero title */

.align-center-hero {
  width: 600px;
  margin: auto;
}

h1 {
  font-size: 150px;
  font-weight: 400;
  text-transform: capitalize;
}

h1 span {
  font-size: 50px;
  text-transform: uppercase;
  display: block;
  margin-top: 115px;
  margin-bottom: -35px;
}

.align-center-hero h2 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 50px;
}

/* button */

.btn {
  font-size: 18px;
  text-decoration: none;
  padding: 8px 38px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all ease 300ms;
  color: white;
  background-color: rgb(16, 16, 16);
  border: 2px solid rgb(16, 16, 16);
}

.btn:hover {
  color: rgb(16, 16, 16);
  background-color: white;
  border: 2px solid rgb(16, 16, 16);
}

.secondary {
  color: rgb(16, 16, 16);
  background-color: white;
  border: 2px solid white;
}

.secondary:hover {
  color: white;
  background-color: rgb(16, 16, 16);
  border: 2px solid white;
}

.small-btn-detail {
  margin-right: 15px;
}

/* section 1 explication */

.align-center {
  width: 700px;
  margin: 70px auto;
}

.section1 h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 50px;
}

.section1 p {
  font-size: 20px;
  padding: 20px 0;
}

/* section 2 image */
.section2 img {
  width: 100%;
}

/* section 3 line up */

.align-center h2 {
  font-size: 36px;
  padding-bottom: 20px;
  text-align: center;
}

.align-center ul li {
  font-size: 28px;
  list-style: none;
  text-transform: uppercase;
  padding: 10px 0;
  border-top-style: dashed;
  border-color: rgba(255, 255, 255, 0.331);
}

.align-center ul li span {
  font-weight: bold;
}

.center-btn {
  text-align: center;
  margin: 70px;
}

/* section 4 sponsor */

.section4 {
  background-image: url('../assets/banniere-logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  margin-top: 100px;
  text-align: center;
}

.section4 img {
  margin: 9% 10px;
}

/* section 5 contact */

.section5 p {
  margin: 15px 0;
}

.section5 p a {
  color: white;
  font-size: 20px;
}

.section5 form {
  margin-top: 25px;
}

.section5 form div label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.section5 form div input, .section5 form div textarea {
  width: 100%;
  font-size: 18px;
  padding: 5px 8px;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(47, 47, 47);
}

textarea {
  resize: none;
  height: 200px;
}

.section5 form button {
  cursor: pointer;
}

.center-btn-form {
  text-align: center;
}

/* footer */

footer {
  margin-top: 100px;
}

.footer-center {
  width: 85%;
  margin: auto;
}


/* ============= problem here ============= */
footer form {
  float: right;
}
/* to here */


footer form label {
  display: block;
}

.bottom-footer {
  width: 100%;
  background-color: white;
  color: rgb(16, 16, 16);
}

.bottom-footer p {
  display: inline-block;
}